{% extends 'layout/default.twig' %}

{% block content %}

<div id="destaques">
{% for noticia in destaques %}
    <div class="grid_3 {{ (loop.index is even)? 'omega' : 'alpha' }}">
        {{ noticia.thumb.code|resize(220)|raw }}
        <a href="{{ app.request.baseUrl ~ noticia.uri }}">{{ noticia.titulo }}</a>
        <p>{{ noticia.sinopse }}</p>
    </div>
{% endfor %}
</div>

<div id="noticias">
{% for noticia in noticias %}
    <div>
        <a href="{{ app.request.baseUrl ~ noticia.uri }}">{{ noticia.titulo }}</a>
    </div>
{% endfor %}
</div>

{% endblock %}