{% extends 'layout/default.twig' %}

{% block content %}

<div class="col-sm-12">

    <h1 class="margin-top-0">Notícias</h1>

    <div id="noticias">
        <div>
        {% for noticia in noticias %}

            <div class="media margin-bottom">
                <small>{{ noticia.data }} - {{ noticia.hora }} - {{ noticia.autor }}</small>
                <a href="{{ app.request.basePath ~ noticia.uri }}">
                    {% if noticia.thumb %}
                    <div class="media-left">
                        {{ noticia.thumb.code|resize(100)|raw }}
                    </div>
                    {% endif %}

                    <div class="media-body">
                        <h4 class="media-heading">{{ noticia.titulo }}</h4>
                        <p>{{ noticia.sinopse }}</p>
                    </div>
                </a>
            </div>

        {% endfor %}
        </div>

        {% if proximaPagina > 0 %}
        <a id="more" class="btn btn-primary" href="{{ app.request.uri|split('?')[0] ~ "?pagina=" ~ proximaPagina }}"><span class="glyphicon glyphicon-refresh"></span> Ver mais notícias</a>
        {% endif %}
    </div>

</div>

{% endblock %}
